#root {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  text-align: center;
  
}

#screen {
    margin: 2px;    
    color: black;
    background-color: rgb(76, 91, 91);
    border-radius: 5px;
    border-width: 4px;
    border: 10px solid rgba(255, 255, 255, 0.445);
}
#solution{
    border-top:4px double rgba(0, 0, 0, 0.3) ;
    padding-top: 20px;
    font-size: 30px;
    color: white;

}
#smallScreen{
  display: flex;
  justify-content: end;
  margin-right: 20px;
  font-size: 20px;
  color:rgba(0, 0, 0, 0.3);
}

.keys{
  margin: 2px;
  padding: 25px;
}

.row{
  display: grid;
  grid-template-columns: repeat(4,80px);
}

#enter{
  padding: 23px;
  background-color: rgba(0, 225, 255, 0.85);
  color: black;
  border: 3px solid transparent;
}
#enter:hover{
    border-color: rgb(255, 255, 255);
}

#enter:focus,enter:focus-visible{
  outline: 1px solid rgb(255, 255, 255) ;
  background-color: rgba(0, 180, 255, 0.85);
}

#screenModeWrapper{
  display:flex;
  justify-content: end;
}
#nightkey{

}
